@import "../../SCSS/generic/reset";
@import "../../SCSS/elements/colors";

header{
  display: flex;
  width: 100%;
  height: 25rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .focus-in-expand {
    animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: flex;
    justify-content: center;
    color: ghostwhite;
    font-size: 5rem;
    padding-bottom: 6.5rem;
    padding-top: 6.5rem;


    }
  @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
      filter: blur(0px);
      opacity: 1;
    }
  }

}
p{
  padding-top: 1rem;
  font-size: 1.5rem;
  color: ghostwhite;
}

.main{
  display: flex;
  width: 100%;
  height: 6.25rem;
  justify-content: center;
  align-items: center;
  padding-top: 6.5rem;

  .go_to_fridge{
    display: flex;
   justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 6.25rem;
    text-align: center;
    border-radius: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: ghostwhite;  background-color: map_get($colors,"sun")

  }
}
