@import "./SCSS/generic/reset";
@import "./SCSS/elements/colors";
body {
  font-family:'Comfortaa', cursive;
  background-color: map_get($colors,"blue");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
