.photo {
  width: 30%;
  height: 400px;
  border: 2px solid red;
  display: flex;
  justify-content: center;

}

.describe {
  width: 20%;
  height: 300px;
  display: flex;
  justify-content: flex-end;


  &:nth-of-type(1) {

    background-image: url("images/Gray Simple Minimalist Resume (2)-1-2_pages-to-jpg-0001.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 50px;

  }

  &:nth-of-type(3) {

    background-image: url("images/CL_dyplom_podstawowy_FC-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 50px;
  }

}


.cv {
  width: 20%;
  height: 300px;
  background-image: url("images/Gray Simple Minimalist Resume (2)-1-2_pages-to-jpg-0001.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.big {
  width: 50%;
  height: 750px;
  justify-content: center;

  background-image: url("images/CL_dyplom_podstawowy_FC-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bigCV {
  width: 50%;
  height: 750px;
  justify-content: center;

  background-image: url("images/Gray Simple Minimalist Resume (2)-1-2_pages-to-jpg-0001.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.about_me {
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 2.5rem;

}

.hidden {
  display: none;
}

.my_person {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
  color: ghostwhite;
}

.invisible {
  width: 50%;
  height: 750px;
  justify-content: center;

  background-image: url("images/Gray Simple Minimalist Resume (2)-1-2_pages-to-jpg-0002.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

h3 {
  text-align: center;
  line-height: 2rem;
  font-size: 1.2rem;
  width: 75%;
}

section:nth-of-type(2) {
  margin-bottom: 3rem;
}