@import "../../SCSS/generic/reset";
@import "../../SCSS/elements/colors";



.form{
  width: 20%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border:1px solid red;
  .onSubmit{
    width: 50%;
    color: red;

  }
}

.search_result{
  display: flex;
  justify-content: center;
  align-items: center;
       width:76%;
    height: 600px;
   margin-top: -650px;
  margin-left: 255px;


  }

.recipe_name{
  display: flex;
  width: 100%;
  justify-content: center;
  list-style-type: none;
  color: ghostwhite;

}

.list{
  list-style-type: none;
  color: ghostwhite;

}
.method{
  color: ghostwhite;
}

.search_form{
  display: flex;
  text-align: center;
  justify-content:center;
  align-items: center;
width: 230px;
  flex-direction: column;
  margin-top: -400px;
  margin-left: 100px;


}